 body,
 h1,
 h2,
 p,
 a {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 @keyframes fadeIn {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 body {
     font-family: Arial, sans-serif;
     line-height: 1.6;
     background-color: white;
     animation: fadeIn 1s ease-in-out;
 }

 .fading-section {

     padding: 60px 0;
     margin-top: 30px;
     background-color: #f4f4f4;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
 }


 .fade-in {
     opacity: 0;
     transform: translateY(20px);
     transition: opacity 0.6s ease-out;
 }

 .fade-in.visible {
     opacity: 1;
     transform: translateY(0);
     transition-delay: 0.2s;
 }


 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
 }

 .row {
     display: flex;
     align-items: center;
     margin-bottom: 40px;
     transition: all 0.5s ease;
     padding-bottom: 10px;
     border-bottom: 1px solid #ccc;
 }

 .reverse {
     flex-direction: row-reverse;
 }

 .image-column,
 .text-column {
     flex: 1;
     padding: 0 20px;
 }

 .image-column img {
     width: 100%;
     height: auto;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     border: solid 1px black;
 }

 .text-column {
     text-align: left;
 }

 .text-column h2 {
     margin-bottom: 15px;
     color: #333;
     font-size: 2rem;
 }

 .text-column p {
     color: #666;
     font-size: 1rem;
     line-height: 1.6;
 }

 .button {
     display: inline-flex;
     align-items: center;
     margin-top: 20px;
     padding: 10px 30px;
     color: #fff;
     background-color: #007bff;
     border-radius: 5px;
     text-decoration: none;
     font-size: 1rem;
     position: relative;
     overflow: hidden;
     transition: background-color 0.3s ease;
 }

 .button:hover {
     color: #0056b3;
     background-color: #fff;
 }


 .footer {
     padding: 20px;
     background-color: #333;
     color: #fff;
     text-align: center;
     font-family: Arial, sans-serif;
 }

 .footer p {
     margin: 5px 0;
 }

 .footer a {
     color: #ffcc00;
     text-decoration: none;
 }

 .footer a:hover {
     text-decoration: underline;
 }

 @media (max-width: 768px) {
     body {
         font-size: small;
     }

     .row {
         flex-direction: column;
     }

     .reverse {
         flex-direction: column;
     }

     .text-column,
     .image-column {
         padding: 10px;
     }

     .text-column h2 {
         font-size: 1.5rem;
     }

     .text-column p {
         font-size: 0.9rem;
     }
 }